.gBvrBR .text-editor {
    border-radius: 10px !important;
}

.gBvrBR .text-editor {
    border-radius: 10px !important;
}

.rdw-editor-main {
    padding-left: 20px !important;
}

.rdw-option-wrapper {
    border: 0px;
    padding: 10px;
    height: 23px;
    margin: 0px 4px;
    max-width: 5px;
    border-bottom: 3px solid #fff;
    img {
        width: 13px;
    }
}

.rdw-option-wrapper:nth-child(1) {
    margin-left: 20px;
}

.DraftEditor-root {
    padding-left: 20px;
}

.rdw-option-active {
    border-bottom: 3px solid #716588;
    border-radius: 0px;
    box-shadow: 0px 0px;
}

.rdw-option-wrapper:hover {
    border-bottom: 3px solid #716588;
    border-radius: 0px;
    box-shadow: 0px 0px;
}

.rdw-inline-wrapper {
    margin-bottom: 0px;
}

.rdw-editor-toolbar {
    padding: 10px 5px 10px;
    border: 0px;
}

.rdw-center-aligned-block {
    display: none;
}
