body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Nova";
  src: url("../src/assets/font/nova.otf") format("woff");
}

span {
  font-family: "Nova";
  font-size: 16px;
}

.ant-select-selector {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.ant-select-selection-item {
  color: #fff;
  font-weight: bold;
}

.ant-select-arrow {
  color: #fff !important;
}
